/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /*background-repeat: no-repeat;*/
    /*background-size: 100%;*/
    /*background-position: bottom center;*/
    /*background-image: url('../public/images/background.svg');*/
    /*background-attachment: fixed;*/
}

#__next {
    height: 100%;
    z-index: 1;
}

.site-background {
    z-index: -1;
}